body {
  font-family: 'Arial', sans-serif;
  background-color: #121212; 
  color: #ffffff; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  min-height: 100vh; 
  overflow-y: auto; 
}


.app-container {
  text-align: center;
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  max-width: 600px;
  width: 100%;
  margin: auto;
  color: #fff;
}

.results {
  margin-top: 20px;
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.analysis-content {
  white-space: pre-wrap;
  background-color: #1e1e1e;
  color: #f1f1f1;
  padding: 15px;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: auto;
  line-height: 1.5;
}

h1 {
  color: #4caf50;
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #45a049;
}

button:active {
  transform: scale(0.98);
}

pre {
  background-color: #1e1e1e;
  color: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}